<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/google_calendar.css"/>
    <script src="/js/google_calendar.js"></script>
    <script src="/js/tester.js"></script>
    <!--<script src="date.js"></script>-->
</head>
<body>
<div style="width: 120px; text-overflow: ellipsis; background-color: red; overflow: hidden">asdfasdfasdfasdfasdfasdfkjba;ksjbfl;jabsdf;kjbasd;fbas/djf.ba;jskdbfa;kjs.dfg</div>
<header>
    My Calendar
</header>
<section style="position: relative;">
    <div class="container_calendar">
        Calendar
    </div>
    <div class="container_scheduler">
        <!-- <div class="row">
             <div class="time">
                 Time
             </div>
             <div class="half-schedule">
                 What ... of the schedule
             </div>
         </div>-->
    </div>
    <div class="popup_display hide">
        <h3>Event Details</h3>
        <input type="text" id="inp_task_description" placeholder="What is the event about?"/><br/><br/>
        <a id="popup_cancel" href="#">Cancel</a> &nbsp; <a id="popup_save" href="#">Save</a>
    </div>
</section>

</body>
</html>